* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 15vh;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header span {
  font-size: 2em;
}

.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.table_container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table_container .student_name {
  font-size: 1.5em;
  padding-top: 10px;
}

.table_container table {
  font-size: 1.2em;
  padding: 10px;
}

.table_container table th {
  border: 1px solid;
  padding: 10px 30px;
}

.table_container table td {
  border: 1px solid;
  padding: 10px 30px;
}

.sidebar {
  background-color: #ccc;
  height: 85vh;
  width: 30%;
  overflow-y: scroll;
}

.sidebar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  padding: 10px 0 0 10px;
}

.sidebar .fas {
  display: none;
  padding-left: 10px;
  color: #fff;
}

.sidebar button {
  margin: 10px 0 0 10px;
}

.sidebar .faculty ~ button {
  margin: 10px 0 0 20px;
}

.sidebar .student,
.sidebar .group,
.sidebar .course,
.sidebar .faculty {
  padding: 10px 0 0 20px;
}

.sidebar .student > .form:hover > .fas,
.sidebar .group > .form:hover > .fas,
.sidebar .course > .form:hover > .fas,
.sidebar .faculty > .form:hover > .fas {
  display: inline;
}

.sidebar ul,
.sidebar li {
  cursor: pointer;
  padding: 0 0 0 20px;
  margin: 0;
}

.sidebar li > ul {
  display: none;
}