* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header {
  height: 15vh;
  background-color: #ccc;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  span {
    font-size: 2em;
  }
}
.main_block {
  display: flex;
  flex-wrap: wrap;
}
.table_container {
  width: 75%;

  display: flex;
  align-items: center;
  flex-direction: column;

    .student_name {
        font-size: 1.5em;
        padding-top: 10px;
    }

  table {
    font-size: 1.2em;
    padding: 10px;
    th {
      border: 1px solid;
      padding: 10px 30px;
    }
    td {
      border: 1px solid;
      padding: 10px 30px;
    }
  }
}
.sidebar {
  background-color: #ccc;
  height: 85vh;
  width: 25%;

  & > div {
    display: flex;
    font-size: 1.2em;
    padding: 20px 0 0 40px;
  }

  .fas {
    display: none;
    padding-left: 10px;
    color: #fff;
  }

  .student,
  .group,
  .course, 
  .faculty {
    margin: 10px 0 10px 20px;

    & > .form {
      &:hover > .fas {
        display: inline;
      }
    }
  }

  ul, 
  li {
    cursor: pointer;
    padding: 0;
  }

  li > ul {
    display: none;
  }

  button {
    display: none;
    margin-left: 20px;
  }

  ul:hover > .sidebar__add_form {
    display: block;
  }
  /* Неверное поведение при хавере */
}