* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header {
  height: 15vh;
  background-color: #ccc;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.main_block {
  display: flex;
  flex-wrap: wrap;
}
.table_container {
  width: 75%;

  display: flex;
  align-items: center;
  flex-direction: column;

  table {
      font-size: 1.2em;
      padding: 20px;
      th {
          border: 1px solid;
          padding: 10px 30px;
      }
      td {
          border: 1px solid;
          padding: 10px 30px;
      }
  }
}
.sidebar {
  background-color: #ccc;
  height: 85vh;
  width: 25%;

  & > div {
      display: flex;
      font-size: 1.2em;
      padding: 20px 0 0 40px;
  }

  ul, li {
    cursor: pointer;
    padding: 0;
  }

  li > ul {
      display: none;
  }
  p ~ ul > li, button {
    margin-left: 20px;
  }
}